---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

header {
    background: none;
}

header div {
    font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, serif;
    background: #4d58d2 url(../../nbs-logo.png) 0.67em 0 no-repeat;
}

header h1 {
    color: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, serif;
}
